<div class="progressbar-and-listing-wrapper">
  <mat-progress-bar [mode]="(loading$ | async) ? 'indeterminate' : 'determinate'" color="primary"></mat-progress-bar>
  
  <div class="container">
    <div class="todos-list-wrapper">
      <app-todos-list [todos]="todos$ | async" (todoChange)="onTodoChange($event)"></app-todos-list>
    </div>
  </div>  
</div>

<div class="todo-details-wrapper" *ngIf="openedTodo$ | async">
  <app-todo-details [todo]="openedTodo$ | async" (destroy)="onCloseTodoDetails()"></app-todo-details>
</div>