<div class="progressbar-and-listing-wrapper">
  <mat-progress-bar [mode]="(loading$ | async) ? 'indeterminate' : 'determinate'" color="primary"></mat-progress-bar>
  
  <div class="container">
    <div class="todos-list-wrapper" *ngFor="let section of sections" appDragAndDrop [data]="section">
      <app-todos-list [section]="section" [todos]="todosBySection$ | async | keyValues: section.title"></app-todos-list>
    </div>
    <div class="todos-list-wrapper form">
      <mat-form-field appearance="fill">
        <mat-label>Add new section</mat-label>
        <input matInput placeholder="in progress" [formControl]="sectionNameControl" required
          (keyup)="onSectionNameKeyUp($event)">
        <mat-icon matSuffix>add</mat-icon>
        <mat-error *ngIf="sectionNameControl.hasError('minlength') && !sectionNameControl.hasError('required')">
          Please enter a valid name
        </mat-error>
        <mat-error *ngIf="sectionNameControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>  
</div>

<div class="todo-details-wrapper" *ngIf="openedTodo$ | async">
  <app-todo-details [todo]="openedTodo$ | async" (destroy)="onCloseTodoDetails()"></app-todo-details>
</div>