:host {
  overflow: hidden;
}

.progressbar-and-listing-wrapper, .todo-details-wrapper {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  padding: 10px 10px 15px 10px;
  box-sizing: border-box;

  overflow-y: hidden;
  overflow-x: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;

  .todos-list-wrapper {
    background-color: #eee;

    min-width: 350px;
    width: 350px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    
    border-radius: 5px;

    &.form {
      height: 100px;
  
      mat-form-field {
        width: 100%;
      }
    }
  }
}

.todo-details-wrapper {
  background-color: rgba($color: #000000, $alpha: 0.5);
  
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  padding: 10px 10px 15px 10px;
  box-sizing: border-box;

  z-index: 2;

  overflow-y: hidden;
  overflow-x: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-center;

  app-todo-details {
    height: 100%;
    width: 800px;
    min-width: 340px;

    box-shadow: 1px 1px 3px #000;
    border-radius: 5px;
  }
}


