:host {
  overflow: hidden;
  width: 100%;

  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}

.progressbar-and-listing-wrapper, .todo-details-wrapper {
  grid-row: 1;
  grid-column: 1;
}

.container {
  height: 100%;
  width: 100%;
  padding: 10px 10px 15px 10px;
  box-sizing: border-box;

  overflow-y: hidden;
  overflow-x: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  .todos-list-wrapper {
    background-color: #eee;

    min-width: 360px;
    width: 360px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    
    border-radius: 5px;
  }
}

.todo-details-wrapper {
  height: 100%;
  width: 100%;
  padding: 10px 10px 15px 10px;
  box-sizing: border-box;

  z-index: 2;

  overflow-y: hidden;
  overflow-x: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-center;

  app-todo-details {
    height: 100%;
    width: 800px;
    min-width: 340px;

    box-shadow: 1px 1px 3px #000;
    border-radius: 5px;
  }
}


