:host {
  overflow-y: auto;

  height: 100%;
}

.header {
  height: 50px;
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .title {
    flex: 1 1 auto;

    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .menu, .add-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}

.scrollbar {
  height: calc(100% - 50px);
  margin: 0 0 50px 0;
}

ul {
  min-width: 330px;
  width: 330px;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;

  &.todo {
    cursor: pointer;
  }
}

.add-todo-form {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba($color: #000000, $alpha: 0.5);
  
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;

  .description {
    width: 100%;
  }

  .buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  @keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .rotate {
    animation: rotation 1s linear infinite;
  }
}
